/* .slider-v-content {
    overflow: hidden;
    clip-path: inset(100% 0 0 0);
    will-change: clip-path;
  }
  .slide-v.is-active .slider-v-content {
    clip-path: inset(0% 0 0 0);
  } */

  .no-pointer{
    pointer-events: none;
  }

  /* .slider-t-slide.is-active {
    pointer-events: none;
  } */
