
  .no-pointer{
    pointer-events: none;
  }

  .slider-t-slide {
    position: relative;
  }
  
  .thumbnail-container {
    position: relative; 
    overflow: hidden;
  }
  
  .thumbnail-overlay {
    position: absolute;
    inset: 0;
    width: 150%;
    height: 150%;
    top: -20%;
    left: -20%;
    background: rgba(0,0,0,0.6);
    pointer-events: none;
    transition: opacity 0.35s ease;
    opacity: 0; 
  }

  .splide.slider-edit .splide__pagination__page
  {
    width: 1rem !important;
    height: 1rem !important;
    transform: rotateZ(45deg) !important;
    transform: rotateZ(45deg) scale(0.9) !important;
  }

  .splide.row-card .splide__pagination__page
  {
    width: 1rem !important;
    height: 1rem !important;
    transform: rotateZ(45deg) scale(0.9) !important;
  }

  .splide__pagination__page{
    width: 1rem !important;
    height: 1rem !important;
    transform: rotateZ(45deg) !important;
    transform: rotateZ(45deg) scale(0.9) !important;
  }
  

  [data-a="underline"] .underline-container {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.04em;
    overflow: hidden;
    pointer-events: none; 
  }

  .underline-text
  {
    display: inline-flex !important;
    position: relative;
  }
  